---
import { SEO } from "astro-seo";
import "../styles/global.css";

type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/img/thies-fav.png" />
    <link rel="icon" type="image/webp" href="/img/thies-fav.webp" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title=`${title}`
      description="Welcome to my blog, where I share insights on technology, development, photography, and more."
      openGraph={{
        basic: {
          title: `${title}`,
          url: Astro.site?.href,
          image: "/img/thies.png",
          type: "website",
        },
      }}
      twitter={{
        title: `${title}`,
        description:
          "Welcome to my blog, where I share insights on technology, development, photography, and more.",
        card: "summary_large_image",
        image: "/img/thies.png",
      }}
    />
    <title>{title}</title>
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title="RSS"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
